<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target xsi:type="RichTextBox" name="LogTextBoxTarget"
            layout="${processtime} - ${level:uppercase=true} - ${callsite:className=true:fileName=false:includeSourcePath=false
          :methodName=false} - ${message}"
            controlName="logTextBox" formName="MainForm" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="LogTextBoxTarget" />
  </rules>
</nlog>